<jqxTreeGrid
[height] = "'100%'"
[width] = "'100%'"
[columns]="columns"
[sortable]="true"
[icons]="true"
[showHeader]="false"
[editable]="true"
[showToolbar]="true"
[altRows]="true"
[toolbarHeight]="35"
[filterMode]="'simple'"
[filterable]="true"
[filterHeight]="35"
[localization]="localizeObj"
[renderToolbar]="renderToolbar"
[source]="dataAdapter"
[ready]="ready"
(onRowSelect)="rowSelect($event)"
(onRowUnselect)="rowUnselect($event)"
(onRowEndEdit)="rowEndEdit($event)"
(onRowBeginEdit)="rowBeginEdit($event)"
(onBindingComplete)="bindingComplete($event)"
#TreeGrid>
</jqxTreeGrid>
