*.log
*.log.*.bak
*.pkcs
*.jks
*.pfx
*.csr
*.cer
/server/.mvn
/server/testing data.txt
/server/src/main/resources/static/*
/server/db/*.lck
.settings
/door-proxy/doorproxy/target/
/door-proxy/bin/door-proxy.jar
