<div class="input-group ">
  <button class="btn btn-primary" type="button" routerLink="./new" >添加</button>
  <button class="btn btn-primary" type="button" (click)="performDelete()">删除</button>
  <button class="btn btn-primary" type="button" (click)="runAll()">立即运行所有策略</button>
  <input type="text" class="form-control" placeholder="查找...">
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">编号</th>
      <th scope="col">名字</th>
      <th scope="col">执行条件</th>
      <th scope="col">执行操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let policy of policies">
      <th scope="row">
        <input type="checkbox" (change)="handleSelectEvent($event,policy)"/>
      </th>
      <td><a href="#" routerLink="./{{policy.id}}">{{policy.id}}</a></td>
      <td>{{policy.name}}</td>
      <td>{{policy.condition }}</td>
      <td>{{policy.getActionStr()}}</td>
    </tr>
  </tbody>
</table>
<app-pagination [totalItems] = "totalItems" [pageSize]="pageable.size" (onPageLoad)="loadPage($event)"></app-pagination>