<div class='row treeOuter'>
  <div class="col-sm-3 col-md-3 col-lg-3 treePanel">
      <app-domain-tree [(selected)]="selectedDomain"></app-domain-tree>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3 doorTreePane">
    <app-door-tree-2 [domainId]="selectedDomain" [(selected)]="selectedDoor" (selectedChange)="onSelectedDoorChange($event)"></app-door-tree-2>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 cardsPanel">
    <app-card-right-layout [domainId]="selectedDomain" [door]="selectedDoor"></app-card-right-layout>
  </div>
</div>