<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="ROOT_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./mgs-batch.log</file> 
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>./mgs-batch.log.%i.bak</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>12</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</Pattern>
		</layout>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="ROOT_FILE" />
	</root>

</configuration>